{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="forgot-body">

<div class="forgot-container">
    <h2>Forgot Password</h2>

    <!-- ================= MESSAGES ================= -->
    {% for message in messages %}
        <p class="error">{{ message }}</p>
    {% endfor %}

    <!-- ================= STEP 1: EMAIL ================= -->
    {% if step == "step1" %}
    <form method="POST">
        {% csrf_token %}

        <input type="email" name="email" placeholder="Enter Email" required>
        <button type="submit" name="send_otp">
            Send OTP
        </button>
    </form>
    {% endif %}

    <!-- ================= STEP 2: OTP ================= -->
    {% if step == "step2" %}
    <form method="POST">
        {% csrf_token %}

        <input type="text" name="otp" placeholder="Enter OTP" required>

        <button type="submit" name="verify_otp">
            Verify OTP
        </button>
    </form>
    {% endif %}

    <!-- ================= STEP 3: PASSWORD RESET ================= -->
    {% if step == "step3" %}

    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}
        <div>
            <input type="password" name="new_password" placeholder="New Password" required>
            {{ form.new_password.errors }}
        </div>
        <div>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            {{ form.confirm_password.errors }}
        </div>
        <button type="submit" name="reset_password">
            Reset Password
        </button>
    </form>

    {% endif %}
    <!-- ================= BACK LINK ================= -->
    <div class="forgot-login-link">
        <a href="{% url 'login' %}">Back to Login</a>
    </div>
</div>

</body>
</html>
