{% extends "master.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}

<div class="profile-box">

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="profile-image">

            {% if users.profile_image %}
                <img src="{{ user_profile.profile_image.url }}" alt="Profile">
            {% else %}
                <img src="/media/default.png" alt="Profile">
            {% endif %}

            <label for="file-input" class="edit-icon">✏️</label>

            <input type="file" id="file-input" name="profile_image">
            
        </div>

        <h2>Profile</h2>

        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}

        <label>Username</label>
        <input type="text" name="username" value="{{ user_profile.username }}">

        <label>Email</label>
        <input type="text" name="email" value="{{ user_profile.email }}" disabled>

        <label>Mobile Number</label>
        <input type="text" name="mobile_number" value="{{ user_profile.mobile_number }}" placeholder="+1234567890" 
        pattern="^\+?[0-9]{6,15}$" 
        title="Please enter a valid phone number with 6 to 15 digits">

        <label>Other Number</label>
        <input type="text" name="other_mobile_number" value="{{ user_profile.other_mobile_number }}" placeholder="+1234567890"
        pattern="^\+?[0-9]{6,15}$"
        title="Please enter a valid phone number with 6 to 15 digits.">

        <label>Date Of Birth</label>
        <input type="date" name="date_birth" max="{{ today_date }}" value="{{ user_profile.date_birth|date:'Y-m-d' }}">

        <label>Address</label>
        <input type="text" name="address" value="{{ user_profile.address }}">

        <label>Old Password</label>
        <input type="password" name="old_password">
        
        <label>New Password</label>
        <input type="password" name="new_password">

        <label>Confirm Password</label>
        <input type="password" name="confirm_password">

        <button type="submit">
            Update Profile
        </button>

    </form>

</div>

{% endblock %}
